*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.hprof
*.apk
*.ap_
*.aab
*.log

# Documentation files (không push)
CREATE_REPORT_SYSTEM.md
REPORT_SYSTEM_TESTING.md
REPORT_SYSTEM_IMPLEMENTATION.md
